<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Shifty.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ShiftyWatch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ShiftyWatchWidgets.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ShiftyWidgetsExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BEE64B992FDB704F00BAF334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEE64BA82FDB705100BAF334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEE64BB22FDB705100BAF334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0FFEE0000000000000012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0FFEE0000000000000021</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
